@import url("https://fonts.googleapis.com/css2?family=DM+Sans&family=Lato:wght@100;400&family=Merriweather&family=Montserrat&family=Poppins:wght@600&family=Raleway:wght@100;400&family=Ubuntu&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.A4 {
  width: 210mm;
  min-height: 297mm;
}

.hr-style {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
}

.lato {
  font-family: "Lato", sans-serif;
}

@media print {
  #CV {
    background-color: white;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 15px;
    font-size: 14px;
    line-height: 18px;
  }

  
}

@page {
  size: auto;
  margin: 0mm;
}
